<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>My Project</title>
</head>
<body>
    <h1>Overview</h1>
    <p>
        For this project I wanted to learn some webscraping along with using docker. I learned webscraping and used it
        to get 1000 Wikipedia pages which I used for two things. First, I created a search engine that allows you to
        find the most relevant pages given your search query. Second, I created a dashboard containing interactive
        plots for various page statistics I thought would be interesting to look at. Links to these pages can be seen
        below.
    </p>
    <a href="/search">
        <button>Search Engine</button>
    </a>
    <a href="/dashboard">
        <button>Dashboard</button>
    </a>
</body>
</html>